<div class="benefit-items container-fluid mb-4">
    <div class="row">
        <div class="col-lg-4">
            <div class="single-benefit">
                <div class="sb-icon">
                    <img src="../../../assets/img/icon-1.png" alt="">
                </div>
                <div class="sb-text">
                    <h6>Free Shipping</h6>
                    <p>For all order over 99$</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="single-benefit">
                <div class="sb-icon">
                    <img src="../../../assets/img/icon-2.png" alt="">
                </div>
                <div class="sb-text">
                    <h6>Delivery On Time</h6>
                    <p>If good have prolems</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="single-benefit">
                <div class="sb-icon">
                    <img src="../../../assets/img/icon-1.png" alt="">
                </div>
                <div class="sb-text">
                    <h6>Secure Payment</h6>
                    <p>100% secure payment</p>
                </div>
            </div>
        </div>
    </div>
</div>